{% extends 'base.html.twig' %}

{% block body %}
    <div id="row">
        <h1><span><a href="/groceries">Grocery</a> </span></h1>
        <hr>
        <img src="{{product.img_url}}">

        <hr>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                Brand
            </div>
            <div class="col-lg-6">
                {{product.brand}}
            </div>
        </div>
        <hr>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                Unit
            </div>
            <div class="col-lg-6">
                {{product.unit}}
            </div>
        </div>
        <hr>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                Description
            </div>
            <div class="col-lg-6">
                {{product.description}}
            </div>
        </div>
        <hr>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                Feature
            </div>
            <div class="col-lg-6">
                {{product.feature}}
            </div>
        </div>
        <hr>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                Usage Instruction
            </div>
            <div class="col-lg-6">
                {{product.usage_instruction}}
            </div>
        </div>
        <hr>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                Last Price
            </div>
            <div class="col-lg-6">
                {{price.price}}$
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
