{% extends 'base.html.twig' %}

{% block body %}
    <div id="row">
        <h1><span>Grocery</span></h1>
        <form action="/groceries/" method="get">
            <div class="form-group">
                <label for="search"></label>
                <input type="text" class="form-control" name="q" id="search" aria-describedby="emailHelp" placeholder="Search Grocery">
            </div>
        </form>

        <h2><span>Result for: <i>{{q}}</i> </span></h2>
        {% for key,val in products %}
            <a href="/groceries/{{val.slug}}/{{val.id}}"><li><img src="{{ val.img_url }}" class="img-responsive" height="100"> {{ val.name }}</li></a>
        {% endfor %}
    </div>
{% endblock %}
